.restaurant-card-container {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 0 5px -2px #036603;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.restaurant-card-container__title {
    color: #036603;
    text-align: center;
}

.restaurant-card-container__rating img {
    width: 150px;
}


.restaurant-card-container__photo img {
    width: 200px;
    height: 80px;
    border: solid 0.3px black;
}