.footer-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.66);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}

.footer-container_title {
  color: #031176;
  font-size: 20px;
}
@media (min-width: 768px) {
  .footer-container_title {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .footer-container_chad {
    align-items: center;
    display: flex;
  }
}

.name {
  color: #031176;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .name {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

.icons a:not(:last-child) {
  margin-right: 1.5rem;
}
