button {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.33s ease-out;
}

button:focus,
button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
