.homepage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 85px);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.homepage-container__header {
  font-size: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 769px) {
  .homepage-container__header {
    font-size: 5rem;
  }
}

.homepage-container__description {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 20px;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}

h1 {
  color: white;
}
