.homepage-container {
    background-image: url("../../resources/space.jpg");
    background-size: cover;
    height: 125vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.homepage-container__body {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.homepage-container__body div {
    /* justify-content: space-between; */
}

.homepage-container__header {
    font-size: 40px;
}

.homepage-container__description {
    border-radius: 20px;
    background: rgba(255,255,255, 0.3);
}


h1 {
    color: white;
}