.review-card-container {
  border: 1px solid #aaa;
  border-radius: 18px;
  color: #222;
  margin-bottom: 1.5rem;
  max-height: 275px;
  overflow: auto;
  padding: 1.5rem;
}

@media (min-width: 768px) {
  .review-card-container {
    flex-basis: calc(50% - 1.5rem);
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 1.5rem;
    max-width: calc(50% - 1.5rem);
  }
}

@media (min-width: 1024px) {
  .review-card-container {
    flex-basis: calc(33.33333% - 1.5rem);
    max-width: calc(33.33333% - 1.5rem);
  }
}

.review-card-container:last-child {
  margin-right: 0;
}

.review-card-container__username {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.375rem;
}

.review-card-container__username > div {
  align-items: center;
  display: flex;
}

.review-card-container__username .user_photo {
  margin-right: 0.75rem;
}

.review-card-container__date {
  margin-bottom: 0.375rem;
}

.review-card-container__rating {
  margin-bottom: 0.375rem;
}
