.review-feed {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

@media (min-width: 768px) {
  .review-feed {
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
