.restaurant-page__container {
  display: flex;
  flex-direction: column;
}

.restaurant-page__banner {
  height: 240px;
}

.restaurant-page__banner .photo {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.restaurant-page__content {
  background-color: #fff;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.restaurant-page__content .restaurant-card-container {
  background-color: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6rem;
  max-width: 520px;
}

.restaurant-page__content .restaurant-card-container__title {
  border: 0;
  padding-bottom: 0.5rem;
}

.restaurant-page__content .restaurant-card-container__rating {
  padding-bottom: 0.5rem;
}

.restaurant-page__content .restaurant-card-container__address {
  margin-bottom: 0;
  padding-bottom: 0;
}

.restaurant-page__content .restaurant-card-container__photo {
  display: none;
}

.restaurant-page__content .restaurant-page__link-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-bottom: 2.25rem;
  padding: 0;
}

@media (min-width: 568px) {
  .restaurant-page__content .restaurant-page__link-bar {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.restaurant-page__content .restaurant-page__link-bar li {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 5rem;
}

@media (min-width: 768px) {
  .restaurant-page__content .restaurant-page__link-bar li {
    margin-bottom: 0;
    margin-right: 6rem;
  }
}

.restaurant-page__content .restaurant-page__link-bar li:last-child {
  margin-right: 0;
}

.restaurant-page__content .restaurant-page__link-bar button {
  align-items: center;
  border: 0;
  color: #222;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.restaurant-page__content .restaurant-page__link-bar button:focus,
.restaurant-page__content .restaurant-page__link-bar button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.restaurant-page__content .restaurant-page__link-bar img {
  height: 2.5rem;
  margin-top: 0.75rem;
}
